@media (max-width: 799px){
    .calculatorBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .calculatorForm{
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .result{
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 399px){
    .calculatorHeader{
        padding: 10px;
    }
    .calculatorHeader h2{
        font-size: 18px;
    }
    .calculatorBody{
        padding: 25px;
    }
    .calculatorBody input{
        padding: 5px;
        width: 60%;
        margin-bottom: 10px;
    }
    .calculatorBody select{
        padding: 5px;
        width: 40%;
        margin-bottom: 10px;
    }
    .loader img{
        width: 30px;
    }
}